@import "resetStyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
   background: #c1bfbe;
}

._container {
}

.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
}
.main {
      &__content {
      }
		&__container {
         background: #a8a1a7;
         padding: 15px;
         border: solid 2px #c1bfbe;
         border-radius: 10px;
		}

      &__getInfo {   
      }

      &__search {
         display: flex;
         flex-wrap: nowrap;
      }

      &__lang {
         display: flex;
         flex-direction: column;
         align-items: center;
         border: solid 2px #a8a1a7;
         border-radius: 10px;
         background: #c1bfbe;
         margin: 5px 0 0 0;
         padding: 5px;
      }

		&__input {
         padding: 0px 5px;  
         font-size: 20px;
		}

		&__button {
         padding: 5px;
         font-size: 20px;
		}

		&__info {
         display: flex;
         flex-direction: column;
		}

      &__name {
         text-align: center;
         margin: 5px 0px;
         padding: 5px;
         background: #c1bfbe;
         border: solid 2px #a8a1a7;
         border-radius: 10px;
      }

		&__city {
         font-size: 20px;
         margin-bottom: 5px;
		}

      &__country {
         font-size: 15px;
      }

		&__temp {
         text-align: center;
         background: #c1bfbe;
         font-size: 20px;
         &>*{
            padding: 5px;
         }
         border: solid 2px #a8a1a7;
         border-radius: 10px;
         padding: 5px;
         margin: 5px 0;
		}

		&__weather {
         border: solid 2px #a8a1a7;
         border-radius: 10px;
         background: #c1bfbe;
         text-align: center;
      }

		&__wind {
		}

      &__logs {
         font-size: 20px;
         border: solid 2px #a8a1a7;
         border-radius: 10px;
         background: #c1bfbe;
         text-align: center;  
         padding: 5px;
      }
}

.lang {

   &__title {
      text-align: center;
      margin: 5px 5px 10px 5px;
      font-size: 20px;   
      line-height: 1px;    
      padding-top: 5px;
   }

   &__select {
      padding: 5px;
      margin: 5px;
   }
}


.log {
   &__logs {
      padding:5px;
   }
   &__title {
      margin-bottom: 5px;
   }
}

.temp {

		&__now {
		}

}
.weather {

		&__main {
         padding: 5px 0;
         font-size: 20px;
		}

		&__description {
         padding: 5px;
         font-size: 15px;
		}

		&__icon {
		}

		&__logo {
		}
}
